.control {
	border: 1px solid rgb(150, 150, 150);
	border-radius: 2px;
	background-color:rgb(230,230,230);
	font-size: 0.8em;
	width:100%;
	box-sizing: border-box;
}

.action-set > button{
	border: none;
	padding-left:10px;
	padding-right: 10px;
	padding-top: 2px;
	background-color:rgb(230,230,230);
}

.action-set > button:hover{
	background-color: rgb(200,200,200);
}

/*
.control label {
	margin-right: 2em;
}

.control form {
	padding: 0.4em;
	margin: 0.4em;
	clear: both;
}

.control input {
	width: 8em;
	font-size: 0.9em;
}
*/


