/*
	Styles for the tabbed pane providing the job details.
*/

.tabbed-pane {
	height: 100%;
	box-sizing: border-box;
}

.tabs {
	font-size: 12px;
}

.tabs ul {
	display: flex;
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

.tabs li {
	float: left;
	flex-basis: 120px;
	flex-grow: 0;
	display: block;	
	padding: 4px 4px 4px 4px;
	margin: 0 0 0 4px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	text-align: center;
}

.tabs a {
	text-decoration: none; 
	color: black;
}

.tabs .selected {
	background-color: #A5DF00;
	color: #FF4000; 
}
	
.tabs .notSelected {
	background: green;
	color: #FF4000; 
}

.tabs a:hover {
	color: #FF4000
}

/* main */


.tab-content {
	max-height: calc(100% - 22px);
	box-sizing: border-box;
	border: 3px solid #A5DF00;
 	padding: 3px; 
 	margin: 0;
	background: white;
	border-radius: 7px;
	-moz-border-radius: 7px;
	overflow: auto;
}

.tab-content .notSelected {
	display: none;
}

.tab-content table {
	border-collapse: collapse;
	width: 100%;
	box-sizing: border-box;
}

.tab-content td {
	border: 1px solid #A5DF00;
 	padding: 0.3em; 
}

.tab-content table .title-col {
	width: 30%;
	background-color: #DDD;
    font-weight: bold;
}

.text-area {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 0.75em;
	font-family: 'Courier New', Courier, monospace;
}
