
.form-box {
    background-color: #f1f1f1;
    border: 1px solid #404040;
    cursor: default;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    z-index: 2;
    padding-left: 20px;
    overflow: auto;
    height:calc(61vh - 40px);
}

.form-box label {
    margin-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

.form-box input[type=text] {
    margin: 5px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
  }
  
.form-box input[type=text]:focus {
    border: 1px solid rgb(114, 114, 114);
  }

 .form-box ul{
      list-style-type: none;
      margin: 0px;
      padding: 0px;
  }

  .buttn {
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(150,150,150);
    height: 20px;
    margin: 2px;
    border-radius: 5px;
}

.buttn:hover {
    background-color: rgb(200,200,200);
}

.bttns {
    text-align: center;
    margin-top: 5px;
}

.oj-design-form-title {
    text-align: center;
    border-bottom: 1px solid #404040;
    margin-top: 20px;
    margin-bottom: 10px;
}

select{
    margin: 5px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
}

select:hover{
    border: 1px solid rgb(114, 114, 114);
}

option{
    border: none;
    background-color: rgb(247, 247, 247);
    border-radius: 2px;
}

#output{
    margin-bottom: -10px;
}

#lines{
    margin-bottom: -10px;
}