/*
    Styles for the main Oddjob UI used by index.html
*/

html, body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    height: 100%;
    box-sizing: border-box;
}

#split-pane {
    position: absolute;
    top: 25px;
    height: calc(100% - 25px);
    width: 100%;
    box-sizing: border-box;
}

#left-component {
    overflow: auto;
}



