

.tree ul {
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0 0 0 20px;
}

.tree li {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.tree li img.toggle {
	margin: 0 0 0 -16px;
	padding: 0 0 0 0;
}

.tree li a {
	color: black;
	text-decoration: none;
	margin-right: 5px;
	border-width: 2px;
	border: solid;
	border-color: transparent;
}

.tree li a:hover {
	border-color: grey;
}

.tree .selected a {
	background-color: #a8df44;
}

.tree .drag-pending a {
	background-color: plum;
}

.tree .draggable a {
	background-color: #ff4800e0;
}


.tree .drop .before {
	width: 150px;
	height: 3px;
	border: 1px dashed grey;
	margin: 2px;
}

.tree .drop-target {
	width: 150px;
	height: 3px;
	border: 2px solid grey;
	margin: 1px;
}
